:root {
    --color-accent: oklch(60% 15% 225); 
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 25px;
    font-family: "Times New Roman", Times, serif;
}

.color-scheme {
    position: absolute;
    top: 0.2rem; 
    right: 1rem; 
    font-size: 80%;
    font-family: inherit;
    padding: 0.5em;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
}

.color-scheme select {
    font-family: inherit; 
    font-size: 80%;
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 0.1rem;
}

h1 {
    text-align: center;
}

.filter-diseases {
    position: relative;
    display: block;
    font-family: inherit;
    width: 100%;
    margin-bottom: 18px;
}
  
.filter-diseases button {
    padding: 12px;
    background-color: light-dark(#f2f2f2, #0f0f0f);
    border: 1px solid light-dark(#ddd, #202020);
    border-radius: 8px; 
    box-shadow: 0 4px 6px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    cursor: pointer;
    width: 100%;
    font-size: inherit;
}
  
.dropdown-menu {
    position: absolute;
    width: 100%;
    background: light-dark(#fff, #101010);
    border: 1px solid light-dark(#ddd, #202020);
    border-top: none;
    box-shadow: 0 4px 6px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

.search-container {
    padding: 6px 8px;
    padding-top: 12px;      
    border: 1px solid light-dark(#ddd, #202020);
    box-sizing: border-box;
    width: 100%;              
}
  
.search-container input {
    display: block;
    width: 100%;
    border: 1px solid light-dark(#aaa, #202020);
    border-radius: 4px; 
    outline: none;
    box-sizing: border-box;
    padding: .375rem .75rem;
    font-size: inherit;
}
  
.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}
  
.dropdown-menu ul li {
    padding: 8px 10px;
    cursor: pointer;
    border: 1px solid light-dark(#ddd, #303030);
    font-size: inherit;
}
  
.dropdown-menu ul li:hover {
    background-color: light-dark(#f9f9f9, #202020);
}

.canvas {
    padding: 1em;
    border: 1px solid light-dark(#ddd, #202020);
    border-radius: 8px; 
    box-shadow: 0 4px 6px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter button {
    padding: 6px 8px;
    background-color: light-dark(#f2f2f2, #404040);
    border: 1px solid light-dark(#ddd, #202020);
    border-radius: 8px; 
    box-shadow: 0 4px 6px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    cursor: pointer;
}
  
.filter-attr,
.filter-kind {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 90;
}

.filter-attr div,
.filter-kind div{
    display: flex;
    gap: 6px;
    padding: 0;
}

.filter-axis select{
    padding: 4px;
    border: 1px solid light-dark(#ddd, #202020);
    border-radius: 4px; 
    box-shadow: 0 4px 6px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    cursor: pointer;
}

.filter-department button.selected,
.filter-sex button.selected,
.filter-plotkind button.selected {
  background-color: light-dark(oklch(from var(--color-accent) 80% 5% h), color-mix(in oklch, var(--color-accent), canvas 5%));
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 0px 0px;
    /* cursor: pointer; */
}
  
.plot {
    position: relative;
    display: flex;
    align-items: start;
    gap: 20px;
    flex: 1;
    margin-top: 10px;
}

.plot svg {
    width: 80%;
    height: auto;
}

.legend-box{
    display: flex;
    width: 20%;
    padding: 0.5em;
    margin-top: 10px;
    border: 1px solid light-dark(#ddd, #202020);
    border-radius: 8px; 
    box-shadow: 0 4px 6px light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
  
.no-selection {
    display: flex;
    /* margin-top: 50px; */
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.no-selection p {
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  